html body{
	margin:0px;
	padding:0px;
}

#ayudaContainer{
	/*border:1px solid red;*/
	background-color:black;
	height:100%;
	width:100%;
}

#ayudaContainer .areaCont{
	/*border:1px solid blue;*/
    height:281px;
	width:500px;
}

#ayudaContainer .areaCont .videoAyuda{
	/*border:1px solid red;*/
	overflow:hidden;
}